.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.689453;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,102,255);}
.fs0{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y14{bottom:40.127342px;}
.y12{bottom:54.667992px;}
.y13{bottom:69.683342px;}
.y11{bottom:85.458305px;}
.y7{bottom:182.798698px;}
.y10{bottom:199.614281px;}
.y6{bottom:213.589012px;}
.yf{bottom:230.404594px;}
.y1{bottom:242.144432px;}
.y5{bottom:427.552170px;}
.yd{bottom:443.823349px;}
.yb{bottom:446.251770px;}
.y9{bottom:449.557281px;}
.y3{bottom:454.802078px;}
.ye{bottom:472.009247px;}
.yc{bottom:474.437668px;}
.ya{bottom:477.743179px;}
.y4{bottom:482.987984px;}
.y8{bottom:504.993101px;}
.y2{bottom:510.237906px;}
.h1{height:48.972656px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x8{left:51.066299px;}
.x7{left:133.862045px;}
.x9{left:160.066299px;}
.x6{left:352.969788px;}
.xa{left:405.986298px;}
.xb{left:409.539551px;}
.x4{left:530.700073px;}
.x5{left:533.747498px;}
.xc{left:662.590515px;}
.x2{left:720.200073px;}
.x3{left:723.247437px;}
.x1{left:782.841797px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y14{bottom:53.503123pt;}
.y12{bottom:72.890656pt;}
.y13{bottom:92.911123pt;}
.y11{bottom:113.944407pt;}
.y7{bottom:243.731598pt;}
.y10{bottom:266.152374pt;}
.y6{bottom:284.785350pt;}
.yf{bottom:307.206126pt;}
.y1{bottom:322.859243pt;}
.y5{bottom:570.069560pt;}
.yd{bottom:591.764465pt;}
.yb{bottom:595.002360pt;}
.y9{bottom:599.409709pt;}
.y3{bottom:606.402771pt;}
.ye{bottom:629.345662pt;}
.yc{bottom:632.583557pt;}
.ya{bottom:636.990906pt;}
.y4{bottom:643.983978pt;}
.y8{bottom:673.324135pt;}
.y2{bottom:680.317207pt;}
.h1{height:65.296875pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x8{left:68.088399pt;}
.x7{left:178.482727pt;}
.x9{left:213.421733pt;}
.x6{left:470.626383pt;}
.xa{left:541.315063pt;}
.xb{left:546.052734pt;}
.x4{left:707.600098pt;}
.x5{left:711.663330pt;}
.xc{left:883.454020pt;}
.x2{left:960.266764pt;}
.x3{left:964.329915pt;}
.x1{left:1043.789062pt;}
}
